/* colocando fonte na logo */
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@300;400;500&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');



header{
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 3;
}

#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo{
    margin-left: 50px ;
    position: fixed;
    display: flex;
    font-family: "Wittgenstein";
    font-size: 18px;
    color: #e9a209;
}

#img_logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50px; 
    align-items: center;
}

#nav_list{
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a{
    text-decoration: none;
    color: beige;
    font-weight: 600;
}

.nav-item.active a{
    color: #e9a209; 
    border-bottom: 3px solid #fccb45;
}


#mobile_btn{
    display: none;
}

#mobile_menu{
    display: none;
}


@media screen and (max-width: 1170px){
    #nav_list,
    #navbar .btn-default {
        display: none;
    }
    #mobile_btn{
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        color: beige;
        cursor: pointer;
    }

    #mobile_menu.active{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item{
        list-style: none;
        text-align: center;
    }
}
